body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: darkgrey;
}

#mainContain {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
}

.header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sideBar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
